<div class="control-collection">
    <a href="#">
        <img src="Images/FormView.png" alt="Form view" width="16" height="16" title="View details"/>
    </a>
    <a href="#">
        <img src="Images/Edit.png" alt="Form view" width="16" height="16" title="Edit"/>
    </a>
    <a href="#">
        <img src="Images/Delete.png" alt="Form view" width="16" height="16" title="Delete"/>
    </a>
</div>

@code {

}
