@typeparam TItem where TItem : class

<div class="pg-layout">
    <div class="pg-content">
        <h2>@TableCaption</h2>
        <table class="table">
            <thead>
                <tr>@TableHeader</tr>
            </thead>
            <tbody>
                @if (Items.Count() > 0)
                {
                    @foreach (var item in Items)
                    {
                        <tr>@RowTemplate(item)</tr>
                    }
                }
                else
                {
                    <h3>No records were found.</h3>
                }
            </tbody>
        </table>
    </div>
    <div class="pg-footer">
        <div class="pg-pager">
            <PagerControl />
        </div>
        <div class="pg-filter">
            <FilterControl T="TItem" />
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment TableCaption { get; set; } = null!;

    [Parameter, EditorRequired]
    public RenderFragment TableHeader { get; set; } = null!;

    [Parameter, EditorRequired]
    public RenderFragment<TItem> RowTemplate { get; set; } = null!;

    [Parameter, EditorRequired]
    public IEnumerable<TItem> Items { get; set; } = null!;

}
