table.reportTable > thead > tr[b-cdadiud3w0] {
    background-color: lightskyblue;
}
table.reportTable > tfoot > tr[b-cdadiud3w0] {
    background-color: lightgray;
}

th[b-cdadiud3w0], tfoot > tr > td[b-cdadiud3w0] {
    background-color: inherit;
}

table.reportTable > thead > tr a[b-cdadiud3w0] {
    text-decoration: none;
    color: black;
}

table.reportTable > thead > tr > th[data-sort="a"] > a[b-cdadiud3w0]::before {
    content: "\21E7\00a0";
}

table.reportTable > thead > tr > th[data-sort="d"] > a[b-cdadiud3w0]::before {
    content: "\21E9\00a0";
}

table > caption[b-cdadiud3w0] {
    caption-side: top;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

div.component-footer[b-cdadiud3w0] {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1ex;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
    gap: 2em;
}


