label.left-column[b-uy771iricy] {
    width: 10em;
    text-align: right;
    margin-right: 0.5em;
}

.right-column[b-uy771iricy] {
    width: 500px;
}

div.form-group[b-uy771iricy]
{
    margin-bottom: 5px;
}

h2[b-uy771iricy] {
    display: block;
    margin-left: 100px;
}

form[b-uy771iricy] {
    margin-top: 2ex;
}