table.reportTable > thead > tr {
    background-color: lightskyblue;
}
table.reportTable > tfoot > tr {
    background-color: lightgray;
}

th, tfoot > tr > td {
    background-color: inherit;
}

table.reportTable > thead > tr a {
    text-decoration: none;
    color: black;
}

table.reportTable > thead > tr > th[data-sort="a"] > a::before {
    content: "\21E7\00a0";
}

table.reportTable > thead > tr > th[data-sort="d"] > a::before {
    content: "\21E9\00a0";
}

table > caption {
    caption-side: top;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

div.component-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1ex;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
    gap: 2em;
}


