::deep .wide-input-control {
    width: 500px;
}

::deep .middle-input-control {
    width: 300px;
}

::deep .narrow-input-control {
    width: 200px;
}

::deep form {
    display: flex;
    flex-direction: row;
}

