label.left-column {
    width: 10em;
    text-align: right;
    margin-right: 0.5em;
}

.right-column {
    width: 500px;
}

div.form-group
{
    margin-bottom: 5px;
}

h2 {
    text-align: left;
    padding-left: 7em;
}

form {
    margin-top: 2ex;
}

a > img {
    display: inline-block;
    margin-top: -2px;
    margin-right: 0.5em;
}

button > img {
    display: inline-block;
    margin-right: 0.5em;
}

p.text-danger {
    font-size: larger;
    font-weight: bolder;
    margin-top: 2ex;
}

div.confirmation {
    margin-top: 2ex;
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

div.confirmation > button {
    flex: none;
}

::deep .wide-input-control {
    width: 500px;
}

::deep .middle-input-control {
    width: 300px;
}

::deep .narrow-input-control {
    width: 200px;
}

span[name="invalid-region"].visible {
    display: inline-block;
    color: red;
    margin-left: 1em;
}

span[name="invalid-region"].hidden {
    display: none;
}
