label.left-column {
    width: 10em;
    text-align: right;
    margin-right: 0.5em;
}

.right-column {
    width: 500px;
}

div.form-group
{
    margin-bottom: 5px;
}

h2 {
    display: block;
    margin-left: 100px;
}

form {
    margin-top: 2ex;
}