/*
    table.empTable > thead th {
    background-color: lightskyblue;
}
table.empTable > tbody > tr:nth-child(even) > td {
    background-color: #f2f2f2;
}

*/
table.empTable > thead > tr {
    background-color: lightskyblue;
}
table.empTable > thead > tr a {
    text-decoration: none;
    color: black;
}

table.empTable > thead > tr > th[data-sort="a"] > a::before {
    content: "\21E7\00a0";
}
table.empTable > thead > tr > th[data-sort="d"] > a::before {
    content: "\21E9\00a0";
}

table .empTable > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}
th, td {
    background-color: inherit;
}

table > caption {
    caption-side: top;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
/*
.sort_link:hover {
    cursor: pointer;
}
*/

/*
    https://www.youtube.com/watch?v=7fd00baexBQ
    https://github.com/MackinnonBuck/blazor-page-script
*/